body{
    font-family: "Roboto", sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.container{
    display: flex;
}

.content{
    flex-direction: column;
}

.header,
.hero,
.footer{
    background-color: #1f2937;
}

.header{
    justify-content: space-between;
}

.logo{
    font-size: 24px;
    color: #f9faf8;
    font-weight: 700;
}

#links{
    display: flex;
    align-items: center;
}

.hero,
.hero-text{
    justify-content: space-between;
}

.hero > * {
    max-width: 480px;
}

.hero-text{
    flex-flow: column wrap;
}

.information-main{
    justify-content: center;
    flex-wrap: wrap;
    gap: 64px;
}

.info-block{
    max-width: 270px;
    display: flex;
    flex-flow: column wrap;
    gap: 6px;
}

.info-text{
    text-align: center;
}

.main{
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.secondary{
    font-size: 18px;
    color: #e5e7eb;
}

.signup-button,
.cta-sign{
    background-color: #3882f6 ;
    color: #f9faf8;
}

.information-header{
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    text-align: center;
    padding-bottom: 32px;
}

.quote{
    background-color: #e5e7eb;
}

.quote-text{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
}

.quote-author{
    font-size: 24px;
    font-weight: 700;
}

.footer{
    color: #f9faf8;
    text-align: center;
}

.header,
.footer{
    padding: 8px 144px;
}

.content >*{
    padding: 32px 144px;
}